@charset "UTF-8";

body {
	font-family: BIZ UDPゴシック;
	background-color: #98fb98;
	text-align: center;
}

h1 {
	font-size: 32px;
	color: green;
	transition: opacity 1s ease-in-out;
}

h2 {
  font-size: 28px;
  background-color: green;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden; /* テキストが溢れないように */
  white-space: nowrap; /* 改行しない */
}

